<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>Please signup before you proceed.</h2>
	</div><!--title-->
	<div class="about-info">
					 <%= fboauth_login_and_redirect 'http://cvb.socialsync.org/facebook_sessions/create', {:text => 'Login / Signup', :perms => 'email'} -%>
	</div>	
</div>
<div class="b">&nbsp;</div>
</div>
	