<div class="post">
	<div>
		<h3><%= link_to contest.title, contest %></h3>
		<ul class="cat">
			<li class="active"><a href="#">Today</a></li>
			<li><a href="#"><%#= contest.address %></a></li>
			<li><%= link_to 'View Details', contest %></li>
		</ul><!--cat-->
	</div>
</div>