<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>App Analytics</h2>
	</div><!--title-->
	<div class="search-form">
		<img src="http://chart.apis.google.com/chart?chxr=0,21.667,250&chxt=y&chs=620x240&cht=lc&chco=3D7930,A2C180,FF9900,0000FF,990066,3072F3&chd=s:YWVUVTVUWXVZYaebZTVWUWWZeiikml,qtsrnjhionotvuvtqpkhfgggffjopr,TTTWYXZbbccaVVTUVZZVXYXUTVWVVT,WXYYabbbcZZZYcdaWXSQPOPQSUVTUX,mhefhigdeggddbcbbaceglihghlono,olkoporskhfeZbbWVUQPSRUaacaaZc&chdl=Exposures|FB+Shares|FB+Comments|New+Likes|Click+Throughs|Volunteer+Hours&chls=3|3|2|3|2|3.333&chma=|25,8" width="620" height="240" alt="" />
			
			<!-- Table markup-->

			<table id="hor-minimalist-b" summary="Employee Pay Sheet">
			    <thead>
			    	<tr>
			        	<th scope="col">Top Recruiter</th>
			            <th scope="col">FB Shares</th>
			            <th scope="col">FB Comments</th>
			            <th scope="col">New Likes</th>
			            <th scope="col">Product Click Throughs</th>
			            <th scope="col">Volunteer Hours</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr>
			        	<td>Stephen C. Cox</td>
			            <td>$300</td>
			            <td>$50</td>
			            <td>Bob</td>
			            <td>$300</td>
			            <td>$50</td>
			
			        </tr>
			        <tr>
			        	<td>Josephin Tan</td>
			            <td>$150</td>
			            <td>-</td>
			            <td>Annie</td>
			            <td>$300</td>
			            <td>$50</td>
			
			        </tr>
			        <tr>
			        	<td>Joyce Ming</td>
			            <td>$200</td>
			            <td>$35</td>
			            <td>Andy</td>
			            <td>$300</td>
			            <td>$50</td>
			
			        </tr>
			        <tr>
			        	<td>James A. Pentel</td>
			            <td>$175</td>
			            <td>$25</td>
			            <td>Annie</td>
			            <td>$300</td>
			            <td>$50</td>
			
			        </tr>
			    </tbody>
			</table>

    </div>
<div class="b">&nbsp;</div>
</div>
<% content_for :sidebar do %>
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>Analytics</h3>
		</div>
		<ul>
			<li>choose to select proper location</li>
			<li>choose to select proper causes</li>			
			<li>choose to select proper skills</li>			
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<% end %>

