<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2>App Analytics</h2>
	</div><!--title-->
	<div class="search-form">
		<img src="http://chart.apis.google.com/chart?chxr=0,0,10000&chxs=0,676767,11.5,0,_,676767&chxt=y&chs=620x250&cht=lc&chco=FF9900,0000FF,008000,49188F,AA0033&chd=s:LLLKLMQPPPPUQOLPRQVqy048hfhkXW,BCBCCDBBCCBCDBDCBDCDDheojuv39v,CCCCCCCDTBBBCCDEOTSPRx1640utng,KHIHBEDFKQRNRPPNRRecbabaaw2237,GECBDDDDDECFGJJHIswx1245x0gfgg&chdl=Exposure|Shares|Comments|Likes|Recruits&chls=2|2|2|2|2&chma=|0,7&chtt=Analytics+By+Day" width="620" height="250" alt="Analytics By Day" />

			<br />
						<br />
			<!-- Table markup-->
		<h2>Top Activists</h2>
			<table id="hor-minimalist-b" summary="Employee Pay Sheet">
			    <thead>
			    	<tr>
			        	<th scope="col">Top Recruiter</th>
			            <th scope="col">Recruits</th>			
			            <th scope="col">FB Shares</th>
			            <th scope="col">FB Comments</th>
			            <th scope="col">New Likes</th>
			            <th scope="col">Product Click Throughs</th>
			            <th scope="col">Volunteer Hours</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr>
			        	<td>Stephen C. Cox</td>
			            <td>2000</td>
			            <td>980</td>								           
			            <td>250</td>
			            <td>2260</td>
			            <td>3300</td>
			            <td>50</td>
			
			        </tr>
			    	<tr>
			        	<td>Movitzer Shane</td>
			            <td>1300</td>
			            <td>600</td>								           
			            <td>120</td>
			            <td>1123</td>
			            <td>921</td>
			            <td>20</td>
			
			        </tr>
			    	<tr>
			        	<td>Peter Pan</td>
			            <td>519</td>
			            <td>259</td>								           
			            <td>70</td>
			            <td>860</td>
			            <td>426</td>
			            <td>5</td>
			
			        </tr>
			    	<tr>
			        	<td>Heroku. Nandi</td>
			            <td>300</td>
			            <td>300</td>								           
			            <td>50</td>
			            <td>260</td>
			            <td>300</td>
			            <td>2</td>
			
			        </tr>
			    </tbody>
			</table>

    </div>
<div class="b">&nbsp;</div>
</div>
<% content_for :sidebar do %>
<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>Menu</h3>
		</div>
		<ul>
			<li><a href="/report.csv">Dashboard</a></li>
			<li><a href="/report.csv">Reports</a></li>			
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>Download</h3>
		</div>
		<ul>
			<li><a href="/report.csv">csv</a></li>
			<li><a href="/report.csv">pdf</a></li>			
			<li><a href="/report.csv">excel</a></li>						
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<% end %>

