<div class="t">&nbsp;</div>
<div class="c">
	<div class="title">
		<h2 style="color:#339E35;">App Analytics</h2>
	</div><!--title-->
	<div class="search-form">
		<div class="title cutd" >
					<h2 style="color:#339E35;float:right">9 days  (21 Left!)</h2>
				</div>
		<div>
			<script>
				function change_chart(selector){
					$$('.chart').each(function(chart){chart.hide()})
					$(selector.options[selector.selectedIndex].value.sub('option', 'chart')).show()
				}
			</script>
<img src="http://chart.apis.google.com/chart?chxr=0,0,2000|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chco=FF9900,008000,AA0033,49188F,224499&chd=s:BCCBCCEFJ,KILHRdafo,UWYRXcfsy,aTVfqy158,EDDDSbYaZ&chdl=Volunteer+Hours|Participants|Shares|Likes|Product+Clicks&chls=2|2|2|2|2&chtt=Actions+Per+Day" width="650" height="300" alt="Actions Per Day" />
			<div id="exposures-chart" style="display:none" class="chart">
				<img src="http://chart.apis.google.com/chart?chxr=0,0,100000|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chd=s:ZUaUUYemq&chls=2&chtt=Exposures" width="650" height="300" alt="Exposures" />
			</div>
			<div id="recruits-chart" style="display:none" class="chart">
				<img src="http://chart.apis.google.com/chart?chxr=0,0,5850|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chd=s:ZccYikokh&chls=2&chtt=Recruits" width="650" height="300" alt="Recruits" />
			</div>	
			<div id="shares-chart" style="display:none" class="chart">
				<img src="http://chart.apis.google.com/chart?chxr=0,0,1585|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chd=s:HMNQOTcim&chls=2&chtt=Shares" width="650" height="300" alt="Shares" />
			</div>	
			<div id="comments-chart" style="display:none" class="chart">
				<img src="http://chart.apis.google.com/chart?chxr=0,0,8000|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chd=s:RSXiy4x0y&chls=2&chtt=Comments" width="650" height="300" alt="Comments" />
			</div>	
			<div id="hours-chart" style="display:none" class="chart">
				<img src="http://chart.apis.google.com/chart?chxr=0,0,180|1,0,9&chxs=0,676767,12.5,0,l,676767|1,676767,14.5,0,lt,676767&chxt=y,x&chs=650x300&cht=lc&chd=s:YVeWWemkf&chls=2&chtt=Exposures" width="650" height="300" alt="Exposures" />
			</div>	
			<br />
			<!--
			Select Chart
			<select onchange='change_chart(this)'>
				<option value="exposures-option" selected="selected">Exposures</option>
	            <option value="recruits-option">Recruits</option>			
	            <option value="shares-option">FB Shares</option>
	            <option value="comments-option">FB Comments</option>
	            <option value="hours-option">Volunteer Hours</option>
			</select>
			<br />
			<br /> -->
		</div>	
			<!-- Table markup-->
		<h2 style="color:#339E35;">Top Activists</h2>
			<a href="#"><h1 style="float:right;font-size:1.2em"> Top Non Profits &rarr;</h1></a>
			<table id="hor-minimalist-b" summary="Employee Pay Sheet">
			    <thead>
			    	<tr>
			        	<th scope="col">Top Recruiter</th>
			            <th scope="col">Recruits</th>			
			            <th scope="col">FB Local Likes</th>
			            <th scope="col">FB Comments</th>
			            <th scope="col">Volunteer Hours</th>
			        </tr>
			    </thead>
			    <tbody>
			    	<tr>
			        	<td>Pavan Mishra</td>
			            <td>2000</td>
			            <td>980</td>								           
			            <td>250</td>
			            <td>50</td>
			
			        </tr>
			    	<tr>
			        	<td>Jordan Epstein</td>
			            <td>1300</td>
			            <td>600</td>								           
			            <td>120</td>
			            <td>20</td>
			
			        </tr>
			    	<tr>
			        	<td>Ashley Freely</td>
			            <td>519</td>
			            <td>259</td>								           
			            <td>70</td>
			            <td>5</td>
			
			        </tr>
			    	<tr>
			        	<td>Shruti Parmar</td>
			            <td>300</td>
			            <td>300</td>								           
			            <td>50</td>
			            <td>2</td>
			
			        </tr>
			    </tbody>
			</table>

    </div>
<div class="b">&nbsp;</div>
</div>
<% content_for :sidebar do %>

<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>Total Performance</h3>
		</div>
		<ul>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;font-size:1.4em ;float:left">2555</div>
					<div style="color:#003399;float:left">Volunteer Hours</div>
					<br clear="all" />
				</div>
			</li>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;font-size:1.4em ;float:left">208000</div>
					<div style="color:#003399;float:left">Exposures</div>
					<br clear="all" />
				</div>
			</li>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;font-size:1.4em ;float:left">10080</div>
					<div style="color:#003399;float:left">Participants</div>
					<br clear="all" />
				</div>
			</li>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;font-size:1.4em ;float:left">6487</div>
					<div style="color:#003399;float:left">Shares</div>
					<br clear="all" />
				</div>
			</li>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;font-size:1.4em ;float:left">8840</div>
					<div style="color:#003399;float:left">New Likes</div>
					<br clear="all" />
				</div>
			</li>
			<li>
				<div style="border:2px solid #ddd;padding:0.7em;font-size:1.6em;margin-bottom:0.5em">
					<div style="width:40%;float:left;font-size:1.4em ;">9697</div>
					<div style="color:#003399;float:left">Product Clicks</div>
					<br clear="all" />
				</div>
			</li>
			
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->

<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title cutd">
			<h3>Download</h3>
		</div>
		<ul>
			<li><a href="/report.csv">csv</a></li>
			<li><a href="/report.csv">pdf</a></li>			
			<li><a href="/report.csv">excel</a></li>						
		</ul>	
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->
<% end %>

