<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
	<div>
		<% form_for Activity.new, :url => {:controller => :contests, :action => :update_status, :contest_id => @contest } do |f| %>
		<%= f.text_area :info, :rows => 5, :cols => 80 %>
		<br />
		<%= f.submit 'Update' %>
		<% end %>
	</div>	
	</div>
	<div class="b">&nbsp;</div>		
</div>	

<% content_for :sidebar do %>
	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title cutd">
				<h3>user leaderboard</h3>
			</div>
			
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->

	<div class="box">
		<div class="t">&nbsp;</div>
		<div class="c">
			<div class="title cutd">
				<h3>nonprofit leaderboard</h3>
			</div>
			
		</div>
		<div class="b">&nbsp;</div>
	</div><!--box-->
	
<% end %>