<%
	cause_sets = [
		[
			'Animal Care / Protection',
		'Aging Populations',
		'Community Involvement',
		'Crime / Justice',
		'Disaster Relief',
		'Politics',
		'Religious Equality',
		],
		[
			'Education / Literacy / Economic Literacy',
			'Energy',
			'Environmental Sustainability / Agriculture',
			'Health',
			'Homelessness',
			'Youth Activities'
			
			],
		[
			'Human Rights',
			'Hunger',
			'Individual Equality / Rights',
			'Job Creation',
			'Poverty',
			'Social Entrepreneurship',
			'Sex and Slavery',
			]	
			
		]	
%>


	<% for cause_set in cause_sets %>
	<div class="box">
		<ul class="list">	
			<% for cause in cause_set %>
			<li><a href="#"><%= check_box_tag 'causes[]', cause, checked.include?(cause) %> <%= cause %> </a></li>
			<% end %>
			</ul>
		</div><!-- /box end -->
	<% end %>
