<li>
<div class="visual"><%= link_to image_tag((user_small.pic_square or '/images/img24.jpg')), user_small %></div>
<div class="info">
	<span class="name"><%= link_to user_small.name, user_small %></span>
	<p><%= user_small.address %></p>
	<ul class="points">
		<li>&nbsp;<%= 30 - user_small_counter * 2 %> recruits</li>
	</ul>
</div>
</li>