<div style="width:100%">
	<a href="<%= user_path(user_small) %>"><img align="left" src="<%= user_small.pic_square or 'http://profile.ak.fbcdn.net/profile-ak-ash1/profile5/15/113/q528345620_8217.jpg' %>"></a>
	<h4>
		<%= user_small.name %>
	</h4>		
	<div> Points <%= user_small.points %></div>
</div>	
