	<li>
		<div class="visual"><%= link_to(image_tag('/images/img26.jpg'), user) %></div>
		<div class="text-info">
			<p class="name"><%= link_to user.name, user %></p>
			<p class="state"><%= user.address %></p>
			<ul class="prop">
				<li>50 Recruits</li>
				<li>Pepsi Philly Badge, Patagonia Badge</li>
				<li>10 Actions</li>
			</ul>
		</div>
	</li>