	<li>
		<div class="visual"><%= link_to(image_tag(facebook_profile_picture(user)), user) %></div>
		<div class="text-info">
			<p class="name"><%= link_to user.name, user %></p>
			<p class="state"><%= user.address %></p>
			<ul class="prop">
				<li><%= user.points %> Points</li>
				<!--
				<li>Pepsi Philly Badge, Patagonia Badge</li>
				<li>10 Actions</li>  -->
			</ul>
		</div>
	</li>