<li>
	<div class="visual"><a href="#"><img src="/images/img29.jpg" alt="" /></a></div>
	<div class="info">
		<span class="name"><a href="#"><%= event_card.title %></a></span>
		<p><span class="date"><%= time_ago_in_words(event_card.from_date)%></span><%= event_card.address %></p>
		<ul class="points">
			<li>3 cheers</li>
			<li>5 shouts</li>
			<li><%= event_card.users.count %> activists</li>
		</ul>
	</div>
</li>