<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>search</h3>
			<%= link_to 'view all', badges_path, :class => 'view' %>
		</div>
		<ul class="badges">
			<%#= render :partial => 'badges/badge_small', :collection => @badges %>
		</ul>
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->