<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>search</h3>								
		</div>
		<div class="search-form">
			<form action="/events/">
				<fieldset>
					<div class="row">
						<label for="lb01">name</label><span class="text"><%= text_field_tag 'search', params[:search] %></span>
					</div>
					<div class="row">
						<label for="lb02">location</label><span class="text"><%= text_field_tag 'near', params[:near] or 'U.S.A' %></span>
					</div>
					<div class="button-holder">
						<input type="submit" value="search"/>
					</div>
				</fieldset>
			</form>
		</div><!--search-form-->
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->
