<div class="box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h3>participants</h3>
		</div>
		<% if users.empty? %>
		<p>
			Be the first ones to participate in this event. You can do so by clicking here.
		</p>
		<% else %>
		<ul class="badges">
			<%= render :partial => 'users/user_shot', :collection => users %>
		</ul>
		<% end %>
	</div>
	<div class="b">&nbsp;</div>
</div><!--box-->		