
<div class="main-block" style="width:450px;margin-left:200px">
	<div class="t">&nbsp;</div>
	<div class="c" style="width:410px"> 
        <h3>Invite to <%= @event.title %></h3> 
    	
		<% form_tag '/contacts/import/', :method => :post do %>
			<textarea id="recipient_list" name="recipients"></textarea>

			<a href="#" onclick="showPlaxoABChooser('recipient_list', '/contacts/plaxo_cb'); return false"><img style="width:100px" src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a>
			<%= hidden_field_tag :id, params[:id] %>
			<input type="submit" value="Invite"/>
		<% end %>
	<a class="lbAction" rel="deactivate">Cancel</a>
</div>
<div class="b">&nbsp;</div>
</div>