<script type="text/javascript" src="http://www.plaxo.com/css/m/js/util.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/basic.js"></script>
<script type="text/javascript" src="http://www.plaxo.com/css/m/js/abc_launcher.js"></script>
<script type="text/javascript"><!--
function onABCommComplete() {
  // OPTIONAL: do something here after the new data has been populated in your text area
}
//--></script>

<% form_tag '/contacts/import/', :method => :post do %>
	<textarea id="recipient_list" name="recipients"></textarea>

	<a href="#" onclick="showPlaxoABChooser('recipient_list', '/contacts/plaxo_cb'); return false"><img src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt="Add from my address book" /></a>

	<input type="submit" value="Invite"/>
<% end %>

<h2> Post Invite Link on Twitter </h2>
<p>
	Click <%=  join_by_invitation_url(current_user.twitter_invitation.code) %> to post invite on Twitter.
</p>
<h2> Post Invite Link on Facebook </h2>
<p>
	Click <%=  join_by_invitation_url(current_user.facebook_invitation.code) %> to post invite on Facebook.
</p>
