
<% @organizations.each do |organization| %>
<div> 
	<h2><%=link_to organization.name, organization %></h2>
	<p> <%= organization.cause_list %></p>
</div>
<% end %>
<%= link_to 'New organization', new_organization_path %>