<div class="cart-info">
			<div class="holder">
				<div class="visual"><%= image_tag prize.image.url(:small)%></div>
				<div class="cart-text">
					<h3><%= link_to prize.name, prize %></h3>
					<div class="row"><strong class="even"><%#= prize.contests.count %> contests</strong></div>
				</div>
			</div>
		</div>