<div class="content-box">
	<div class="t">&nbsp;</div>
	<div class="c">
		<div class="title">
			<h2 class="blue"><%= @prize.title %></h2>
		</div><!--title-->
		<div class="cart-info">
			<div class="holder">
				<div class="visual"><%= image_tag @prize.image.url(:small)%></div>
				<div class="cart-text">
					<div class="row"><strong class="even"><%= @prize.contests.count %> contests</strong></div>
				</div>
			</div>
		</div>
	</div>
	<div class="b">&nbsp;</div>		
