				</div><!-- /#content --> 
		</div><!-- /#penoutermost --> 
</div><!-- /#outermost -->
        
<div id='footer-wrapper'> 
		<div id='footer'> 
				
				<ul> 
						<li><a href='/about/'>about openhatch</a></li> 
						<li><a href="/bugs/">feedback</a></li> 
						<li><a href="/blog/">blog</a></li> 
						<li><a href="/contact/">contact</a></li> 
						<li><a href="/source-code-etc/">source code, etc.</a></li> 
				</ul> 
				
		</div> 
</div> 
</body> 
</html> 