</div> 

<div id='main'> 
    <div class='module' id='about'> 
        <div class='head'> 
            <h3>About accountsdialog</h3> 
            <ul> 
                <li> 
                    <a href='/+projedit/accountsdialog'>Edit</a> 
                </li> 
            </ul> 
        </div> 
        <div class='body'> 
            <div class='project_icon' 
                    style="float: left; width: 64px; margin-right: 20px;
                    background-image: url(/static/no-project-icon.png?1249849407.0)"
                    ><span class='alt-text'> 
                        (logo)
                    </span></div> 
            <div style='float: left; width: 70%;'> 
                
                    <div style='color: #777; font-size: .85em;'> 
                        No one has described this project yet. To describe the
                        project, <a href='/+portfolio/editor/?add_project_name=accountsdialog'> 
                            add it to your profile</a>.
                    </div> 
                
 
                
 
            </div> 
        </div> 
    </div> 
<div class='module' id='wanna_help'>
    <div class='head'> 
        <h3>People who want to help <span style='font-weight: normal;'>(none listed yet)</span></h3> 
        
    </div>
</div> 
 
<div class='module' id='contributors'> 
    <div class='head'> 
        <h3>Contributors (none listed yet)</h3> 
            <ul> 
                <li> <a href='/+portfolio/editor/?add_project_name=accountsdialog'
                                style='float: right; font-weight: normal;'>Add yourself</a>
                </li>
            </ul> 
    </div>
</div> 
 
<div class='module' id='bugs'> 
    <div class='head'> <h3>Volunteer opportunities, etc.</h3> </div> 
    <div class='body'> 
        <style> 
            #bugs p { margin-top: 0; }
        </style> 
        
				<p style='font-size: 1.1em;'> 
								<a href='/search/?project=accountsdialog'> 
										<strong> 
												Volunteer opportunity
										</strong> 
										matching accountsdialog (1)
								</a> 
				</p> 
				<p> 
						No one on OpenHatch has signed up as a mentor
						for accountsdialog. Can you?
						<a href="/profile/views/edit_info">Add the tag</a>.
				</p> 
  </div> 
  </div> 
</div><!-- /.module #bugs -->
 
 
					</div> <!-- /#main --> 