</div> 

<div id='main'> 
<div class='module' id='bugs'> 
    <div class='head'> <h3>Sidebar</h3> </div> 
    <div class='body'> 
        <style> 
            #bugs p { margin-top: 0; }
        </style> 
        
				<p> 
						Container...
				</p> 
  </div> 
  </div> 
</div><!-- /.module #bugs -->
					</div> <!-- /#main --> 