<%= render :partial => 'layouts/header' -%>

    <%= yield %>
    <div class='module'> 
        <div class='head'> 
            <h3>Chatter</h3> 
        </div> 
        <div class='body'> 
        Chill
        </div>
    </div><!-- /.module #requests -->

<%= render :partial => 'layouts/sidebar' -%>

<%= render :partial => 'layouts/footer' -%>
