<%= render :partial => 'layouts/header' -%>

<div id="two-columns">
	<div id="content">
	<%= yield %>
	</div>
	<div id="sidebar">
		<%= yield(:sidebar) %>
	</div>	
</div>	
<%= render :partial => 'layouts/footer' -%>
