<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Volunteer BIG</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/all.css" />
	<script src="/javascripts/inputs.js" type="text/javascript"></script>
	<script src="/javascripts/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="/javascripts/cufon.js" type="text/javascript"></script>
	<script src="/javascripts/cufon-fonts.js" type="text/javascript"></script>
	<script src="/javascripts/cufon-settings.js" type="text/javascript"></script>
	<!--[if lt IE 7]><script src="js/png-fix.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/lt7.css" media="screen"/><![endif]-->
</head>
<body>
	<div class="top-nav">
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
	<div class="wrapper">
		<div id="header">
			<h1 class="logo"><a href="#">Volunteer BIG</a></h1>
		</div><!--header-->
		<div id="main" class="profile-page">
			<div class="main-block">
				<div class="t">&nbsp;</div>
				<div class="c">
					<div class="user-info">
						<!--<div class="avatara"><a href="#"><img src="images/img40.jpg" alt="#" /></a></div> -->
						<h2>25 POINTS   --  100 FOR A NEWBIE BADGE.</h2>
						<p>The Newbie Badge will be your first badge. Get it and you  unlock the ability to acquire all other badges.</p>
					</div>
				</div>
				<div class="b">&nbsp;</div>
			</div><!--main-block-->
			<div class="main-block">
				<div class="t">&nbsp;</div>
				<div class="c">
				<%= yield %>
				</div>
				<div class="b">&nbsp;</div>
			</div><!--main-block-->
		</div><!--main-->
		<div id="footer" class="profile-footer">
			<div class="holder">
				<strong class="logo1"><a href="#"><img src="images/logo1.gif" alt="" /></a></strong>
				<div class="box">
					<ul class="nav">
						<li><a href="#">Home</a></li>
						<li><a href="#">Take Action</a></li>
						<li><a href="#">Meet Volunteers</a></li>
						<li><a href="#">Non-Profits</a></li>
					</ul>
					<p class="copy">Volunteer BIG Copyright 2010. All Rights Reserved</p>
				</div>
			</div>
		</div>
	</div><!--wrapper-->
</body>
</html>